$background-color: #F6F6F6;
$title-color: #3C3C3C;
$subtitle-color: #3C3C3C;
$logo-text-color: #282528;
$nav-color: #3C3C3C;
$hover-color: #18B5DC;
$devider-color: #DDDBDB;
$button-text-color: #3C3C3C;
$card-name: #282528;
$card-employment: #646464; 


$font-family: "Lato", sans-serif;
$font-family-title: "Train One", regular;
$width: 100%;



