 :root {
--background-color: #F6F6F6;
--title-color: #3C3C3C;
--subtitle-color: #3C3C3C;
--logo-text-color: #282528;
--nav-color: #3C3C3C;
--hover-color: #18B5DC;
--devider-color: #DDDBDB;
--button-text-color: #3C3C3C;
--card-name: #282528;
--card-employment: #646464; 


--font-family: "Lato", sans-serif;
--font-family-title: "Train One", regular;
--width: 100%;

}

* {
  margin: 0;
  padding: none;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: var(--font-family);
  color: #3C3C3C;
}

img {
  width: 100%;
}

main {
  background-color: var(--background-color);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.header__content_logo {
    display: inline-block;
    vertical-align: middle;
    width: var(--width);
    max-width: 62px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

.header__content_logo-title {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--logo-text-color);
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
    text-transform: uppercase;

}

.header__content_nav {
    vertical-align: middle;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__content_nav_link {
text-transform: uppercase;
text-decoration: none;
font-weight: 600;
font-size: 20px;
line-height: 100%;
margin-right: 30px;
color: var(--nav-color);
}

.header__content_nav_link:last-child {
    margin-right: 0;
}

.header__action {
    display: inline-block;
    vertical-align: middle;

}

.header__action_button {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: transparent;
  color: var(--button-text-color);
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px, solid;
  border-color: #3C3C3C;
}

.header__action_button:hover {
  background-color: var(--hover-color);
  color: white;
  border: none;
}

.header__content_nav_link:hover {
  color: #18B5DC
}



.main_section {
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.main__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.main__description-title {
    font-size: 34px;
    line-height: 100%;
    font-weight: bold;
    color: var(--title-color);
    letter-spacing: 13%;
    width: 100%;
    max-width: 368px;
    text-transform: uppercase;
    margin-top: 150px;
}
.main__description-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: var(--subtitle-color);
    width: 100%;
    max-width: 570px;
    margin-top: 64px;
    text-transform: capitalize;
    font-style: light;
    font-weight: 300;
}

.card-container__cards {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100%;
    max-width: 1170px;
}

.card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.card-image {
    width: 100%;
    max-width: 270px;
    height: auto;
}
.card h3 {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--card-name);
    margin-top: 20px;
    background: none;
}
.card p {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--card-employment);
    margin-top: 10px;
}
.card-container__cards:first-child {
    margin-left: 135px;
}
.card-container__cards:last-child {
    margin-right: 135px;
}


.footer-section__logo {
  max-width: 65px; /* eller vad du vill begränsa loggan till */
  display: flex;
  justify-content: center; 
  align-items: center;  
  margin-bottom: 28px;
  margin-top: 40px;
}
.footer-section__logo-picture {

    width: var(--width);
    max-width: 62px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

.footer-section__logo-title {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--logo-text-color);
    margin-left: 0px;
    text-transform: uppercase;

}

.footer-section__nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 28px;
}

.footer__section_nav_link {
text-transform: uppercase;
text-decoration: none;
font-weight: 600;
font-size: 20px;
line-height: 100%;
margin-right: 30px;
color: var(--nav-color);
}

.footer__section_nav_link:hover {
color: var(--hover-color);
}

.footer-section__socials {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: fit-content;
}

.footer-section__socials_box1 {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 42px;                /* bestäm storlek på boxen */
  height: 100%;
  max-height: 42px;
  border: 2px solid var(--hover-color);  
  padding: 12px 11px;          
  box-sizing: border-box;  
  margin-right: 10px;; 
}

.footer-section__socials_box2 {
  display: flex;              /* centrerar bilden */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 42px;                /* bestäm storlek på boxen */
  height: 100%;
  max-height: 42px;
  border: 2px solid var(--hover-color);     /* din border */
  padding: 11px 15px;               /* luft mellan border och ikonen */
  box-sizing: border-box;  
  margin-right: 10px;   /* se till att padding + border inte ökar storleken */
}

.footer-section__socials_box3 {
  display: flex;              /* centrerar bilden */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 42px;                /* bestäm storlek på boxen */
  height: 100%;
  max-height: 42px;
  border: 2px solid var(--hover-color);     /* din border */
  padding: 11px;               /* luft mellan border och ikonen */
  box-sizing: border-box; 
  margin-right: 10px;    /* se till att padding + border inte ökar storleken */
}

.footer-section__socials_box4 {
  display: flex;              /* centrerar bilden */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 42px;                /* bestäm storlek på boxen */
  height: 100%;
  max-height: 42px;
  border: 2px solid var(--hover-color);     /* din border */
  padding: 11px;               /* luft mellan border och ikonen */
  box-sizing: border-box;
  margin-right: 10px;    /* luft mellan border och ikonen */
       /* se till att padding + border inte ökar storleken */
}

.footer-section__socials_box5 {
  display: flex;              /* centrerar bilden */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 42px;                /* bestäm storlek på boxen */
  height: 100%;
  max-height: 42px;
  border: 2px solid var(--hover-color);     /* din border */
  padding: 13px 11px;               /* luft mellan border och ikonen */
  box-sizing: border-box;     /* se till att padding + border inte ökar storleken */
}
.icon1 {
  width: 100%;
  max-width: 20px; /* eller vad du vill begränsa ikonerna till */
  height: auto;
  max-height: 16px;
}

.icon2 {
  width: 100%;
  max-width: 11px; /* eller vad du vill begränsa ikonerna till */
  height: auto;
  max-height: 20px;
}


.icon3 {
  width: 100%;
  max-width: 20px; /* eller vad du vill begränsa ikonerna till */
  height: auto;
  max-height: 20px;
}


.icon4 {
  width: 100%;
  max-width: 20px; /* eller vad du vill begränsa ikonerna till */
  height: auto;
  max-height: 20px;
}


.icon5 {
  width: 100%;
  max-width: 19px; /* eller vad du vill begränsa ikonerna till */
  height: auto;
  max-height: 16px;
}