$color-bg: #393426;
$color-text: #ffffff;
$color-link: #c3c3ab;

$color-card-bg: #DDE0E3;
$color-card-border-1: #5c6e80;
$color-card-border-2: #6c9ecf;

$font-main: 'Poppins', sans-serif;

$container-max


