* {
margin: 0;
padding: 0; 
box-sizing: border-box;
}

:root {
    --text-color: #544837;
    --accent-color: #ff9900;
    --light-blue: #BCD0E5;
    --heading-color: #2F281E; 
}

body {
    color: var(--text-color);
    font-family:"Poppins", sans-serif;
}

.container {
    width: 100%;
    max-width: 1126px;
    margin: 0 auto;
}

.nav_link {
text-transform: capitalize;
font-size: 14px;
line-height: 28px;
margin-right: 25px
}

.nav_link:last-child {
margin-right: 0;    
}

.button {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background-color: var(--accent-color);
    color: white;   
    text-transform: capitalize;
    border-radius: 4px;
    padding: 11px 25px;
    cursor: pointer;
    border: 1px
}

.button:hover {
    background-color: transparent;
    color: #173A56;
    border-color: var(--light-blue);
}

.button.transparent {
    background-color: transparent;
    color: #173A56;
    border: 1px solid var(--light-blue);
    margin-right: 14px;
}

.button.transparent:hover {
    background-color: var(--accent-color);
    color: white;
    border-color: transparent;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.logo_link, .nav_container, .nav, .header_actions {
    display: inline-block;
    vertical-align: middle;
}

.header {
    padding: 35px 0 17px;
}

.nav {
    margin-right: 50px;
}

.header_actions .button {
    margin-right: 15px;
}

.header_actions .button:last-of-type {
    margin-right: 0;
}

.hero_image {
    max-width: 605px;
    width: 100%;
    margin-top: 30px;
}

.hero_text {
    max-width: 518px;
    width: 100%;
}
.hero_title {
    font-size: 44px;
    line-height: 54px;
    font-weight: bold;
    text-align: left;
    color: var(--heading-color);
    margin-top: auto;
}

.hero_description {
    font-size: 18px;
    line-height: 28px;
    max-width: 458px;
}


.watch_video {
background-color: transparent;
margin-left: 20px
}

.hero_button, .watch_video {
padding: none;
}

.hero_actions {
    display: flex;
    margin-top: -160px;
}

.feature_section   {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 159px;
}

.feature_title {
display: flex;
justify-content: center;
margin-left: 845px;
margin-right: 827px;
font-size: 36px;
line-height: auto;
color: var(--heading-color);
text-align: center;
width: 100%;
max-width: 539px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: middle;
    margin-top: 80px
}

.card {
  flex: 1 1 200px;         /* varje kort kan växa och krympa, minbredd 200px */
}

.card_img {
margin-bottom:30px;
}

.card > h3 {
    font-size: 22px;
    line-height: auto;
    color: var(--heading-color);
    margin-bottom: 13px;
}
p {
    font-size: 16px;
    line-height: auto;
    color: var(--text-color);
    margin-bottom: 20px;
}

.feature_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card_button {
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: bold;
    line-height: auto;
    color: white;
    color: white;
    margin-top: 34px;
    margin-bottom: 90px;
    padding: 15px 32px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
}

.card_button:hover{
    background-color: transparent;
    color: #173A56;
    border-color: transparent
}

.design .container {
    display:inline-flex;
    max-width: 518px;
    width: 100%;
}

.design_text{
text-align: left;
margin: none;
margin-top: 71px;
width: 100%;
max-width: 486px;
margin-bottom: 101px;
}

.design_p {
margin-bottom: 2px;

    }
.design_title {
font-size: 36px;
font-weight: bold;
line-height: auto;
margin-bottom:22px;
}

.design_image {
    width: 100%;
    max-width: 519px;
}

.design_description {
    margin-bottom:12px;
}
.design_txt0 {
    margin-bottom: 30px;
}

.design_txt1 {
    margin-bottom: 25px;
}

.design_txt1:last-of-type {
margin-bottom: 0;
}

.product .container {
    display:flex;
    max-width: 1121px;
    width: 100%;
}

.product_text{
margin-top: 71px;
margin-left: 779px;
width: 100%;
max-width: 486px;
}

.product_p {
margin-bottom: 2px;

    }
.product_title {
font-size: 36px;
font-weight: bold;
line-height: auto;
margin-bottom:22px;
}

.product_image {
    width: 100%;
    max-width: 519px;
}

.product_description {
    margin-bottom:12px;
}
.product_txt0 {
    margin-bottom: 30px;
}

.product_txt1 {
    margin-bottom: 25px;
}

.product_txt1:last-of-type {
margin-bottom: 0;
}